<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Facturacion_Jugueteria_112762.Properties.Settings.Factuacion_Jugueteria_112762ConnectionString"
            connectionString="Data Source=LAPTOP-HM31I94B\SQLEXPRESS;Initial Catalog=Factuacion_Jugueteria_112762;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>